<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App CategoryPrivacy - Location When In Use Usage Description</key>
	<string>Nous avons besoin de votre position pour sélectionner le lieu de l'événement.</string>
</dict>
</plist>
